.container {
    /* background-color: aqua; */
    /* height: 20vh; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th {
    /* color: rebeccapurple; */
    text-align: center;
    font-size: 20px;
    /* background-color: whitesmoke; */
    color: #515151;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

td {
    font-size: 20px;
    text-align: center;
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
    vertical-align: middle; /* Alinha verticalmente o conteúdo */

}

.qntd {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    height: 144px;
    width: 119px;
    border-radius: 20px;
}