<header>

    <nav>

        <div class="container"> 

            <div class="left-container">

                <div> <a href="" class="item-header"> Got to go </a> </div>

                <div class="search-bar"> 
                        
                    <input type="search" placeholder="Digite o nome do evento">  
                        
                    <button> <i class="fa fa-search" style="color: #ffffff;"></i> </button>  

                </div>

            </div>

            <div class="right-container">
                
                <a class="item-header" href=""> Anunciar evento </a> 
                <a class="item-header" href=""> Login </a> 
                <a class="item-header" href=""> Cadastrar </a> 

            </div>

        </div>

    </nav>

</header>




<!-- <header>

    <nav>

        <div class="header-container">

            <div class="logo-container"> 
                
                <a routerLink="" class="item-header">EventoTroller</a>
                 
                <div class="search-bar">

                    <div class="submit-line">
                        <input type="text" />
                        <button class="submit-lente" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>

            </div>

            <div class="item-container" >

           
                <a routerLink="/anucie" class="item-header"> Anuncie seu evento</a>
                <a routerLink="/login" class="item-header"> Login</a>
                <button routerLink="/cadastrar" class="item-header">Cadastrar-se</button>
                
            </div>
            

            <div class="sanduiche-container"> 
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

</header> -->