<div class="container">

    <h2> Relacionados ao tema Shows de rap </h2>

    <div class="eventos-container">

        <div class="card-container">

            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>
            <pro-evento></pro-evento>

        </div>

    </div>

</div>